 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am Sreehari Hegden, a passionate programmer with six years of professional experience. C and Java are my core skills. I am also proficient with Python, PHP, C++, R and MATLAB.</p>
                </div>
                <div class="col-lg-4">
                    <p>Currently, I work as Quality Engineer for the MATLAB Datatypes and I/O Toolbox team at The MathWorks, in Natick, Massachusetts.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
					<embed src="/files/SreehariHegden_Resume.pdf#page=1&zoom=200,250,100" width="800px" height="1000px"/>
					<a href="/files/SreehariHegden_Resume.pdf" target="_blank" class="btn btn-lg btn-outline">
						<i class="fa fa-download"></i> View My Resume
					</a>
                </div>
            </div>
        </div>
    </section>
