 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">		
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>			
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}" height="250" width="250">
                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if post.employer %}
                                    <li>Employer:
                                        <strong><a href="{{ post.link }}" target="_blank">{{ post.employer }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
								{% if post.school %}
                                    <li>School:
                                        <strong><a href="{{ post.link }}" target="_blank">{{ post.school }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.project-startdate %}
                                    <li>Dates:
                                        <strong>{{ post.project-startdate }} - {{ post.project-enddate }}
                                        </strong>
                                    </li>
                                {% endif %}
								{% if post.project-title %}
                                    <li>Project Title:
                                        <strong><a href="{{ post.project-link }}" target="_blank">{{ post.project-title }}</a>
                                        </strong>
                                    </li>                                
                                {% endif %}
								{% if post.project-title == null %}
									<li>Job Title:
										<strong>{{ post.title }}
										</strong>
									</li> 																
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
			<div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </div>
    </div>
{% endfor %}